{% extends "easyrequest_hay_app_templates/base.html" %}


{% block page_title %}
easyrequest-hay info
{% endblock page_title %}


{% block extra_css %}
<style type="text/css">
    div#info_text {
        margin-top: 2em;
    }
    pre#info {
        margin:0 auto;
        width: 80%;
    }
    #info_text li {
        margin-top: .5em;
    }
</style>
{% endblock extra_css %}


{% block content %}

<h1>easyrequest-hay &mdash; info</h1>

<div id="info_text">

    <p>
        This easyrequest-hay service helps users get the items they need which are managed by Brown's special-collections Libray, the <a href="https://library.brown.edu/hay/" rel="nofollow">John Hay Library</a>.
    </p>
    <p>
        Here's a typical flow...
    </p>
    <ul>
        <li>You'll start in <a href="https://search.library.brown.edu" rel="nofollow">Josiah</a>, the Brown-Library catalog.</li>
        <li>You'll do a search on Jefferson, and eventually find an item you want to look at, published in 1897: <a href="https://search.library.brown.edu/catalog/b2994396" rel="nofollow">The Autobiography of Joseph Jefferson</a>.</li>
        <ul>
            <li>Because of its age, this book is managed by Brown's special-collections Library, the John Hay Library. Special-collections materials may only be used in this building.</li>
        </ul>
        <li>You'll see that the 'Status' is 'Available', and to the right is the link 'request-access'. Clicking that link gets you to this easyrequest-hay service.</li>
        <li>After logging in, you'll land at a web-page where you can provide the Special-Collections staff with additional information about what you need (you won't have to re-type information about the item you want).</li>
        <ul>
            <li>If it's your very first time landing at that additional-information page, you'll be asked to create an account in that software, and then you'll land at the additional-information page.</li>
        </ul>

    </ul>
    <p>
        If you have questions, the Hay staff can help you. More information can be found at our <a href="https://library.brown.edu/hay/specol.php" rel="nofollow">Special Collections help page</a>, where you can also find staff contact information.
    </p>

</div>  <!-- end <div id="info_text"> -->

{% comment %}
<pre id="info">
{{ context_handle }}
</pre>
{% endcomment %}

{% endblock content %}
