{% extends "easyrequest_hay_app_templates/base.html" %}


{% block page_title %}
easyrequest-hay login
{% endblock page_title %}


{% block extra_css %}
<style type="text/css">
    div#info_text {
        margin-top: 1.5em;
    }
    pre#info {
        margin:0 auto;
        width: 80%;
    }
</style>
{% endblock extra_css %}


{% block content %}

<h1>easyrequest-hay login</h1>

<div id="info_text">
    <p>login screen coming</p>
</div>

{% comment %}
<pre id="info">
{{ context_handle }}
</pre>
{% endcomment %}

{% endblock content %}
