{% extends "easyrequest_hay_app_templates/base.html" %}


{% block page_title %}
easyrequest-hay login
{% endblock page_title %}


{% block extra_css %}
<style type="text/css">
    div#info_text {
        margin-top: 2em;
    }
    /* `you've requested` item info... */
    div#item {
      margin: 0;
      padding: 0;
      /*padding-bottom: 1.25em;*/
    }
    div#item label {
      margin: 0;
      padding: 0;
      display: block;
      font-size: 100%;
      padding-right: .75em;
      width: 10em;
      text-align: right;
      float: left;
    }
    div#item p#actual_title {
      margin: 0;
      padding: 0;
      display: block;
      font-size: 100%;
      font-weight: bold;
    }
    /**/
    div#forms {
        width: 80%;
        height: 250px;
        /*background: aqua;*/
        margin: auto;
        margin-left: 0;
        margin-top: 1em;
        padding: 10px;
    }
    /* shib form */
    form#shib_login {
        /*from `http://jsfiddle.net/watson/Gsj27/3/`*/
        width: 45%;
        height: 250px;
        float: left;
    }
    h3#please_shib {
        font-size: 1.1em;
        color: maroon;
    }
    input#shib_login_button {
        width: 15em;
        float:left;
        clear:left;
        margin-top: 1.5em;
    }
    /**/
    /* barcode form */
    form#barcode_login {
        margin-left: 45%;
        border-width: 0;
        border-left-width: 1px;
        border-left-color: maroon;
        border-style: solid;
        padding-left: 2%;
    }
    h3#please_barcode {
        font-size: 1.1em;
        color: maroon;
    }
    p#name_field_label {
        margin-top: 1em;
        margin-bottom: 0em;
    }
    p#barcode_field_label {
        margin-top: 1em;
        margin-bottom: 0em;
    }
    input#barcode_field_input {
        float:left;
        margin-top: 0em;
    }
    input#barcode_login_button {
        width: 15em;
        display: block;
        margin-top: 2.75em;
    }
    /**/
</style>
{% endblock extra_css %}


{% block content %}

<h1>easyrequest-hay &mdash; login</h1>

<div id="info_text">

    <hr/>
    <p><strong>This service is under-construction; it is not yet fully implemented.</strong></p>
    <hr/>

    <p>You&rsquo;ve requested the item:</p>
    <div id="item">
        <label for="name">Title:</label>
        <p id="actual_title">{{ item_title }}</p>
        {% if item_callnumber %}
        <label for="name">Call Number:</label>
        <p id="actual_title">{{ item_callnumber }}</p>
        {% endif %}
    </div>

    <div id="forms">

        <form id="shib_login" action="{{ shib_login_url }}" method="GET">
            <h3 id="please_shib">Log in with your Brown username &amp; password...</h3>
            {% if shib_login_error %}
            <p class="login_error">Problem: based on your login, it appears you're not authorized to use this requesting service.</p>
            <p class="login_error">If you believe you should be able to request this item, please contact Library staff for assistance, either at {{ PHONE_AUTH_HELP }}, or at {{ EMAIL_AUTH_HELP|urlize }}.</p>
            {% endif %}
            <input type="hidden" name="shortlink" value="{{ shortlink }}">
            <input id="shib_login_button" type="submit" value="Log in" />
        </form>

        <form id="barcode_login" action="{{ barcode_login_url }}" method="POST">{% csrf_token %}
            <h3 id="please_barcode">...or with your name and library card barcode</h3>
            <p id="name_field_label">First or Last Name:</p>
            <input id="name_field_input" type="text" name="barcode_login_name" value="{{ barcode_login_name }}" />
            <p id="barcode_field_label">Barcode (14-digit barcode, beginning with 21236...):</p>
            <input id="barcode_field_input" type="text" name="barcode_login_barcode" value="{{ barcode_login_barcode }}" />
            {% if barcode_login_error %}
            <p class="login_error">Problem: based on your login, it appears you're not authorized to use this requesting service.</p>
            <p class="login_error">If you believe you should be able to request this item, please contact Library staff for assistance, either at {{ PHONE_AUTH_HELP }}, or at {{ EMAIL_AUTH_HELP|urlize }}.</p>
            {% endif %}
            <input type="hidden" name="shortlink" value="{{ shortlink }}">
            <br /><input id="barcode_login_button" type="submit" value="Log in" />
        </form>

    </div>  <!-- end div id="forms" -->

</div>  <!-- end div id="info_text" -->

{% endblock content %}
