{% extends "easyrequest_hay_app_templates/base.html" %}


{% block page_title %}
easyrequest-hay time-period
{% endblock page_title %}


{% block extra_css %}
<style type="text/css">
    div#info_text {
        margin-top: 2em;
    }
    form {
        margin-top: 1.25em;
    }
    input#yes {
        margin-right: 2em;
    }
    /* item info... */
    div#item {
      margin: 0;
      padding: 0;
      padding-bottom: 1.25em;
    }
    div#item label {
      margin: 0;
      padding: 0;
      display: block;
      font-size: 100%;
      padding-right: .75em;
      width: 10em;
      text-align: right;
      float: left;
    }
    div#item p#actual_title {
      margin: 0;
      padding: 0;
      display: block;
      font-size: 100%;
      font-weight: bold;
    }
    /**/
    div#yes {
        float: left;
    }
    div#yes input {
        width: 25em;
    }
    div#no {
        float: left;
    }
    div#no input {
        width: 25em;
    }
    div#clear {
        margin: 0;
        padding: 0;
        clear: both;
    }
    /* END -- item info... */
</style>
{% endblock extra_css %}


{% block content %}

<h1>easyrequest-hay &mdash; time-period question</h1>

<div id="info_text">

    <hr/>
    <p><strong>This service is under-construction; it is not yet fully implemented.</strong></p>
    <hr/>

    <p>You&rsquo;ve requested the item:</p>
    <div id="item">
        <label for="name">Title:</label>
        <p id="actual_title">{{ item_title }}</p>
        {% if item_callnumber %}
        <label for="name">Call Number:</label>
        <p id="actual_title">{{ item_callnumber }}</p>
        {% endif %}
    </div>

    <p>Before proceeding, one question&hellip;</p>
    <p><i>Would you like to use this special-collection item &mdash; in the John Hay Library &mdash; within the next two weeks?</i></p>
    <!-- <p>Select one of the two following options to continue. Thanks.</p> -->

    <!--
    <form action="{{ action_url }}" method="GET">
        <input type="hidden" name="shortlink" value="{{ shortlink }}">
        <input id="yes" type="submit" value="Yes &mdash; I&rsquo;d like to use this item within the next two weeks" name="soon">
        <input type="submit" value="No &mdash; I want to use this item &ndash; but not within the next two weeks" name="later">
    </form>
    <hr/>
    -->

    <form action="{{ action_url }}" method="GET">
        <input type="hidden" name="shortlink" value="{{ shortlink }}">
        <div id="yes">
            <input id="yes" type="submit" value="Yes" name="soon">
            <p><i>Yes &mdash; I&rsquo;d like to use this item within the next two weeks</i></p>
        </div>
        <div id="no">
            <input type="submit" value="No" name="soon">
            <p><i>No &mdash; I want to use this item &ndash; but not within the next two weeks</i></p>
        </div>
    </form>

    <div id="clear"></div>

</div>  <!-- end <div id="info_text"> -->

{% endblock content %}
